<div dx-data-grid="gridOptions"></div>
<br><br>
<div class="row">
    <div class="col-md-5">
        <input type="text" class="form-control" ng-model="CarID">
        <br>
        <input type="text" class="form-control" ng-model="RepeatJob">
        <br>
        <input type="text" class="form-control" ng-model="SpeedMultiplier">
        <br>
        <input type="text" class="form-control" ng-model="JobStarted">
        <br>
        <button style="margin-bottom:20px;;margin-left:500px;" class="btn btn-success" ng-click='createJob()' type="submit">Save New Simulation Job</button>
    </div>
    <div class="col-md-1">
    </div>
</div>
