<div class="row">
	<div class = "col-md-5">
		<input type="text" class="form-control" ng-model="carID">
		<br>
		<input type="text" class="form-control" ng-model="ip">
		<br>
		<input type="text" class="form-control" ng-model="homePosision">
		<br>
		<input type="text" class="form-control" ng-model="margin">
		<br>
		<input type="text" class="form-control" ng-model="mode">
		<br>
		<input type="text" class="form-control" ng-model="subscribe">
		<br>
		<input type="text" class="form-control" ng-model="unSubscribe">
		<br>
		<input type="text" class="form-control" ng-model="qos">
		<br>
		<button style="margin-bottom:20px;" class="btn btn-success" ng-click='createZbee()' type="submit">Add new vehicle</button>
		
	</div>
	<div class = "col-md-1">
		
	</div>
	<div class = "col-md-6">
		<input type="text" class="form-control" ng-model="deviceName">
		<br>
		<input type="text" class="form-control" ng-model="connectionPort">
		<br>
		<input type="text" class="form-control" ng-model="interval">
		<br>
		<input type="text" class="form-control" ng-model="userName">
		<br>
		<input type="text" class="form-control" ng-model="password">
		<br>
		<input type="text" class="form-control" ng-model="zoomLvl">
		<br>
		<input type="text" class="form-control" ng-model="geoFenceRadius">
	
	</div>
</div>