<!-- 

<div class="container-fluid">


 <div id="pieChartContainer" style="height:400px; max-width:700px; margin: 0 auto"></div>

</div> -->
<div class="row">

	<div class = "col-xs-4">
		<div  style="padding-left: 10px">
			<input class="form-control" type="text" ng-model="location">
			<div dx-map = "mapOptions"></div>
		</div>
	</div>
	<div class = "col-xs-1">
		<button class="btn btn-success"  ng-click='updateLocation()'>Hitta Position</button>
	</div>
	<div class = "col-xs-7" style="padding: 0; margin: 0">
		<div dx-pie-chart="pieChartOptions"></div>
		<div dx-chart="chartOptions"></div>
	</div>
</div>